{% extends "base.html" %}

{% block content %}
<div class="container mt-2">
  <h1>Orden de Ingreso</h1>
  <form class="" action="index.html" method="post">

    <fieldset class="form-group">
      <legend>Ejemplo</legend>
      <label class="form-control-label" for="formGroupExampleInput">Example label</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </fieldset>

    <fieldset class="form-group">
      <legend>Ejemplo</legend>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="validationDefault01">First name</label>
          <input type="text" class="form-control" id="validationDefault01" placeholder="First name" value="Mark" required>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationDefault02">Last name</label>
          <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" value="Otto" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="validationDefault03">City</label>
          <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationDefault04">State</label>
          <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationDefault05">Zip</label>
          <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
      </div>
    </fieldset>
    <br>

    <fieldset class="form-group">
      <legend>Ejemplo</legend>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input id="radioStacked3" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Toggle this custom radio</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radioStacked4" name="radio-stacked" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Or toggle this other custom radio</span>
        </label>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
