<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reporte</title>
    <style>

      h1{
        font-size: 15px;
        font-weight: bold;
      }
      .ss{
        font-size:9px;
      }
      .ms{
        font-size: 14px;
      }
      .center{
        text-align: center;
      }
      .border {
          border: 2px solid #a1a1a1;
          padding: 3px 5px;
          background-color: #dddddd;
          width: 800px;
          border-radius: 25px;
      }

    </style>
  </head>
  <body>
    <div class="principal">
      <div class="header_content">
        <div class="cab">
          <table>
            <tr>
              <td><img class="logo img-rounded" width="116" height="68" src="../logo_ov.png" alt="motosmexico"/></td>
              <td align="left"><p><span class="ss">Circuito circunvalación Pte.No.1 Bis<br>Circuito Satélite<br>Naucalpan, Estado de México<br>C.P. 53100</span></p></td>
              <td colspan="2" class="center"><span class="col-md-5 text-center"><h1>ORDEN DE INGRESO</h1></span></td>
              <td></td>
              <td>No. de Orden:
                <br>Fecha de ingreso:</td>
            </tr>
          </table>
        </div>
        <br>
        <div class="container-fluid">
        <table>
          <tr>
            <td><span class="ms">Tels: 55628524<br>16605069</span></td>
            <td colspan="2" class="border" width="700px">
              <span class="ms">Ingresó en Grúa:<br></span>
              <span class="text-left textm">Asesor: <br>Valuador: </span>
            </td>
            <td><div class="col-md-3 center"><span>Atencion a clientes:<br>L-V 10:00 a 19:00 Hrs.<br>S 10:00 a 17:00 Hrs.<br>D 11:00 a 15:00 Hrs.</span></div></td>
          </tr>
        </table>
        <br>
        <table>
            <tr>
              <td class="border">
                <table >
                  <div >
                  <tr>
                    <td colspan="2"><span>Aseguradora:</span></td>
                  </tr>
                  <tr>
                    <td><span>Póliza:</span></td>
                    <td><span>Asegurado:</span></td>
                  </tr>
                  <tr>
                    <td><span>Deducible:</span></td>
                    <td><span>Siniestro:</span></td>
                  </tr>
                </table>
                </div>
              </td>
              <td class="border">
                <table>
                  <tr>
                    <td colspan="2">Marca:</td>
                    <td>Submarca:</td>
                  </tr>
                  <tr>
                    <td colspan="2">Versión:</td>
                    <td>Modelo:</td>
                  </tr>
                  <tr>
                    <td>Placas:</td>
                    <td>Color:</td>
                    <td>#motor:</td>
                  </tr>
                  <tr>
                    <td colspan="3">VIN:</td>
                  </tr>
                </table>
              </td>
            </tr>
        </table>
        </div>
        </div>
        <br>
        <table class="border">
          <tr>
            <td>
              <span>Nombre:<br></span>
              <span>Direccion:<br></span>
              <span>Colonia:&nbsp;&nbsp;</span>
              <span>Estado:<br></span>
              <span>Responsable:<br></span>
            </td>
            <td>
              <span>RFC<br></span>
              <span>Delegacion/municipio<br></span>
              <span>CP:&nbsp;&nbsp;</span>
              <span>tel1:<br></span>
              <span>tel2:</span>
            </td>
          </tr>
        </table>
      </div>
      <br>
      <br>
      <div class="row">
          <table width="200">
          <tr>
            <th>
              EXTERIOR</th>
              <th>si/no</th>
              <tr>
                <td>Indicadores de tablero</td>
                <td></td>
              </tr>

              <tr>
                <td>Testigo de FI</td>
                <td></td>
              </tr>

              <tr>
                <td>Kilometraje</td>
                <td></td>
              </tr>

              <tr>
                <td>indicador de gasolina</td>
                <td></td>
              </tr>

              <tr>
                <td>mando de direccionales</td>
                <td></td>
              </tr>

              <tr>
                <td>Alarma</td>
                <td></td>
              </tr>

              <tr>
                <td>Control de alarma</td>
                <td></td>
              </tr>

              <tr>
                <td>Guantera</td>
                <td></td>
              </tr>

              <tr>
                <td>Documentos</td>
                <td></td>
              </tr>
            </table>

            <table width="200">
              <tr>
                <th>
                  LATERAL IZQUIERDO</th>
                  <th>si/no</th>
                  <tr>
                    <td>Direccional</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Espejo</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Tapa lateral superior</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Tapa lateral media</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Taoa lateral inferior(lower)</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Taoa de estator</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Parador lateral</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Pedal de velocidades</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Cubierta central de depósito</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Base de posapie</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Posapie</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Escape</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Base posapie pasajero</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>posapie pasajero</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Tapa lateral trasera</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Cubrecadena</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Cadena</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Alforja</td>
                    <td></td>
                  </tr>

                  <tr>
                    <th>LATERAL DERECHO</th>
                    <th>si/no</th>
                  </tr>

                  <tr>
                    <td>Direccional</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Espejo</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Tapa lateral superior</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Tapa lateral media</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Tapa lateral inferior(lower)</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Tapa de embrague</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Pedal de freno</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Cubierta central de depósito</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Base de posapie</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Posapie</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Escapo</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Base posapie pasajera</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>posapie pasajero</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Tapa lateral trasera</td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>Alforja</td>
                    <td></td>
                  </tr>
                </table>
      </div>
    </div>
  </body>
</html>
