$color-light: #f8f9fa;
$color-shade: #e4e4e4;
$color-dark: #343a40;
$color-primary: #007bff;
$color-primary-light: lighten($color-primary, 15%);
$color-primary-darken: darken($color-primary, 15%);
$color-success: #5fcf80;
$color-info: #17a3b8;
$color-warning: #ffc107;
$color-danger: #dc3545;
